#newsContainer {
    border: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    height: 100%;
    background-color: #1E90FF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#playerInfo {
    text-emphasis: center;
    
}

#dataText {
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

#innerNewsContainer {
    padding: 3%;
}

#currentNewsCard {
    background: rgb(214, 143, 12);
    border-radius: 10px;
    border: solid;
    border-width: 4px;
    border-color: black;
    height: 90px;
    margin: 2%;
    position: relative;
    width: 80%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    /* text-align: center; */
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}


#h3 {
    
    text-align: center;

}

#h5{
    text-align: center;
}

.class1 {
    color: red;
}

.class2 {
    color: green;
}
